.p-expired {
	background: rgb(255, 245, 245) !important;
	color: #000000 !important;
	text-align: center !important;
	z-index: 1 !important;
}

.p-nonexpired {
	background: rgba(255, 255, 255, 0.295) !important;
}

.p-abouttoexpire {
	background: rgb(255, 253, 220) !important;
}

.p-price {
	/* background: rgb(229, 255, 255) !important; */
	color: #000000;
	font-weight: 500;
}
.p-delete {
	background: #0bb892 !important;
	color: #fffcfc !important;
}
.p-common {
	color: #000000;
	font-weight: 450;
}
.p-cale {
	background-color: #000000;
}
.p-head {
	background-color: #000000 !important;
	color: #000000 !important;
}
